*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #308695;
    color: #FFFFFF; 
}

.container{
    padding:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size:50px; 
}

.scoreText{
    margin: 20px;
    font-size:30px; 
}

.boxArea1, .boxArea2{
   
    width: 350px;
    height: 180px;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
   
}

.box{
    width: 150px;
    height: 150px;
    margin: 10px; 
    font-size: 20px;
    font-weight: 700;
    border: 1px solid black; 
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

.box1{
    
    background-color: #a4a29f;
}


.box2{
    background-color: #E69D45;
}


.box3{
    background-color: #D45769;
}


.box4{
    background-color: #455054;
}

.flash{
    background-color: rgba(255, 255, 255, 0.664);
}